In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import string

In [ ]:
read_file = pd.read_excel (r'/content/Comment Spam.xls', sheet_name='Data Train')#/content/Comment Spam.xls
read_file.to_csv (r'/content\data.csv', index = None, header=True)

In [ ]:
print(read_file)

        No                                            Comment  Class
0        1                                this song is racist      0
1        2  and how many subscribers compared to her over ...      1
2        3  HI! CHECK OUT OUR AWESOME COVERS! AND SAY WHAT...      1
3        4                                  well done shakira      0
4        5                 :D subscribe to me for daily vines      1
...    ...                                                ...    ...
1295  1296                                      Awsome<br />﻿      0
1296  1297                https://www.tsu.co/KodysMan plz ^^﻿      1
1297  1298  Sign up for free on TSU and start making money...      1
1298  1299  MEGAN FOX AND EMINEM TOGETHER IN A VIDEO  DOES...      0
1299  1300                              Great.This is a song﻿      0

[1300 rows x 3 columns]

In [ ]:
df = read_file

In [ ]:
dinfo=df.info()
dinfo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       1300 non-null   int64
 1   Comment  1300 non-null   object
 2   Class    1300 non-null   int64
dtypes: int64(2), object(1)
memory usage: 30.6+ KB

In [ ]:
df.describe()

                No        Class
count  1300.000000  1300.000000
mean    650.500000     0.514615
std     375.421985     0.499979
min       1.000000     0.000000
25%     325.750000     0.000000
50%     650.500000     1.000000
75%     975.250000     1.000000
max    1300.000000     1.000000

In [ ]:
df['Length'] = df['Comment'].apply(len)

In [ ]:
df.head()

   No                                            Comment  Class  Length
0   1                                this song is racist      0      19
1   2  and how many subscribers compared to her over ...      1      55
2   3  HI! CHECK OUT OUR AWESOME COVERS! AND SAY WHAT...      1      57
3   4                                  well done shakira      0      17
4   5                 :D subscribe to me for daily vines      1      34

In [ ]:
df.groupby('Class').count()

        No  Comment  Length
Class
0      631      631     631
1      669      669     669

In [ ]:
df['Length'].describe()

count    1300.000000
mean       95.585385
std       132.694204
min         2.000000
25%        27.750000
50%        44.000000
75%        93.000000
max      1200.000000
Name: Length, dtype: float64

In [ ]:
df[df['Length']==1200]['Comment'].iloc[0]

'&lt;script&gt;document.write(\'&lt;a target="_self" href=" http://rover.ebay.com/rover/1/710-53481-19255-0/1?icep_ff3=1&amp;pub=5575096797&amp;toolid=10001&amp;campid=5337555197&amp;customid=bogdan+grigore&amp;ipn=psmain&amp;icep_vectorid=229508&amp;kwid=902099&amp;mtid=824&amp;kw=lg"&gt;check  this out new arive on ebay&lt;/a&gt;&lt;img  style="text-decoration:none;border:0;padding:0;margin:0;" src=" http://rover.ebay.com/roverimp/1/710-53481-19255-0/1?ff3=1&amp;pub=5575096797&amp;toolid=10001&amp;campid=5337555197&amp;customid=bogdan+grigore&amp;mpt=\'+Math.floor(Math.random()*999999999)+\'"&gt;\');&lt;/script&gt;&lt;noscript&gt;&lt;a  target="_self" href=" http://rover.ebay.com/rover/1/710-53481-19255-0/1?icep_ff3=1&amp;pub=5575096797&amp;toolid=10001&amp;campid=5337555197&amp;customid=bogdan+grigore&amp;ipn=psmain&amp;icep_vectorid=229508&amp;kwid=902099&amp;mtid=824&amp;kw=lg"&gt;check  this out new arive on ebay&lt;/a&gt;&lt;img  style="text-decoration:none;border:0;padding:0;margin:0;" src=" http://rover.ebay.com/roverimp/1/710-53481-19255-0/1?ff3=1&amp;pub=5575096797&amp;toolid=10001&amp;campid=5337555197&amp;customid=bogdan+grigore&amp;mpt=[CACHEBUSTER] "&gt;&lt;/noscript&gt;\ufeff'

## text processing

In [ ]:
dObject = df['Class'].values
dObject

array([0, 1, 1, ..., 1, 0, 0])

In [ ]:
df.head(8)

   No                                            Comment  Class  Length
0   1                                this song is racist      0      19
1   2  and how many subscribers compared to her over ...      1      55
2   3  HI! CHECK OUT OUR AWESOME COVERS! AND SAY WHAT...      1      57
3   4                                  well done shakira      0      17
4   5                 :D subscribe to me for daily vines      1      34
5   6  Part 2. Holy Mary, pray for us Holy Mother of ...      1     462
6   7   I really can&#39;t comprehend Miley Cyrus , s...      1     244
7   8                                      Nice song ^_^      0      13

In [ ]:
#clean message from punctuations
def cleanMessage(message):
    nonPunc = [char for char in message if char not in string.punctuation]
    nonPunc = "".join(nonPunc)
    return nonPunc

In [ ]:
#tokenization (process of converting the normal text strings in to a list of tokens(also known as lemmas)).)
df['Comment'] = df['Comment'].apply(cleanMessage)

In [ ]:
#vector the SciKit Learn's algorithm models can work with and machine learning model
CV = CountVectorizer(stop_words="english")

In [ ]:
xSet = df['Comment'].values
ySet = df['Class'].values

## Splitting Train and Test Data

In [ ]:
xSet_train,xSet_test,ySet_train,ySet_test = train_test_split(xSet,ySet,test_size=0.2)

In [ ]:
xSet_train_CV = CV.fit_transform(xSet_train)

## Training a model¶
### with naive bayes

In [ ]:
NB = MultinomialNB()
NB.fit(xSet_train_CV,ySet_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
xSet_test_CV = CV.transform(xSet_test)

In [ ]:
ySet_predict = NB.predict(xSet_test_CV)

In [ ]:
accuracyScore = accuracy_score(ySet_test,ySet_predict)

In [ ]:
print("Prediction Accuracy :",accuracyScore)

Prediction Accuracy : 0.8384615384615385

In [ ]:
msg = input("Enter Message: ")
msgInput = CV.transform([msg])
predict = NB.predict(msgInput)
if(predict[0]==0):
    print("------------------------not spam---------------------------")
else:
    print("---------------------------this is spam------------------------------")

Enter Message: Part 2. Holy Mary, pray for us Holy Mother of God, pray for us Holy Virgin of virgins, pray for us Mother of Christ, pray for us Mother of divine grace,
---------------------------this is spam------------------------------